In [ ]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

In [ ]:
# 파일 업로드
from google.colab import files
files.upload()
electrical_energy = pd.read_csv('electrical_energy.csv')
weather = pd.read_csv('weather.csv')

Saving electrical_energy.csv to electrical_energy (1).csv
Saving weather.csv to weather (1).csv

In [ ]:
# 잘 불러와졌는지 확인
weather.head()

,date,average_temperature,highest_temperature,lowest_temperature,precipitation,average_wind_speed,max_wind_speed,average_humidity,lowest_humidity
0,2000-01-01,5.5,9.9,1.8,0.0,2.3,4.0,63.5,46.0
1,2000-01-02,4.2,6.9,-0.9,6.0,3.6,7.6,74.3,57.0
2,2000-01-03,-2.2,0.1,-4.6,0.0,2.7,5.9,54.1,35.0
3,2000-01-04,0.3,4.3,-4.3,0.0,1.7,3.0,48.6,30.0
4,2000-01-05,2.8,4.6,0.1,18.4,3.2,5.2,83.6,44.0

In [ ]:
electrical_energy.head()

         date  installed_capacity  supply_capacity  full_power
0  2004-07-01               57328            52398       44998
1  2004-07-02               57328            52412       44135
2  2004-07-03               57328            51163       42381
3  2004-07-04               57328            52470       36176
4  2004-07-05               57328            53796       43834

In [ ]:
# 전력 데이터에 맞춰서 기상 데이터도 2004/07/01 자료만 이용 -> date가 교집합인 데이터들 합치기
df = pd.merge(electrical_energy, weather, on ='date', how='inner')
df

,date,installed_capacity,supply_capacity,full_power,average_temperature,highest_temperature,lowest_temperature,precipitation,average_wind_speed,max_wind_speed,average_humidity,lowest_humidity
0,2004-07-01,57328,52398,44998,24.0,26.7,22.0,4.5,1.9,4.2,77.0,61.0
1,2004-07-02,57328,52412,44135,23.1,24.2,21.3,10.5,1.9,5.1,90.8,83.0
2,2004-07-03,57328,51163,42381,24.4,26.8,22.0,10.5,1.0,3.5,85.9,71.0
3,2004-07-04,57328,52470,36176,21.1,22.7,19.7,62.0,4.5,7.9,92.1,85.0
4,2004-07-05,57328,53796,43834,22.8,26.2,19.5,14.0,3.8,6.4,80.5,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6819,2023-04-01,139049,81707,59002,17.5,25.6,9.4,0.0,1.8,4.5,40.4,19.0
6820,2023-04-02,139049,85228,58205,18.8,25.2,11.9,0.0,2.4,5.9,29.6,16.0
6821,2023-04-03,139049,84289,67649,19.0,25.9,11.3,0.0,2.3,4.3,29.4,16.0
6822,2023-04-04,139049,84938,68535,17.6,21.7,12.7,6.9,2.6,6.1,40.4,16.0
6823,2023-04-05,139079,84179,72292,11.9,14.9,8.7,50.3,3.4,5.8,97.8,90.0

In [ ]:
# 결측치 확인
df.isna().sum()

date                   0
installed_capacity     0
supply_capacity        0
full_power             0
average_temperature    0
highest_temperature    0
lowest_temperature     0
precipitation          0
average_wind_speed     0
max_wind_speed         0
average_humidity       0
lowest_humidity        0
dtype: int64

In [ ]:
# 중복값 확인
df.duplicated().sum()

3

In [ ]:
# 중복값 제거
df.drop_duplicates(keep='first',ignore_index = True, inplace=True)

# 확인
df.duplicated().sum()

0

In [ ]:
# date의 월 일만 가져오기 -> N234에서 year 특성을 포함할 경우 미래 사건을 예측하기 어려워져 삭제했다고 하길래..
df['date'] = pd.to_datetime(df['date'])
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df

,date,installed_capacity,supply_capacity,full_power,average_temperature,highest_temperature,lowest_temperature,precipitation,average_wind_speed,max_wind_speed,average_humidity,lowest_humidity,month,day
0,2004-07-01,57328,52398,44998,24.0,26.7,22.0,4.5,1.9,4.2,77.0,61.0,7,1
1,2004-07-02,57328,52412,44135,23.1,24.2,21.3,10.5,1.9,5.1,90.8,83.0,7,2
2,2004-07-03,57328,51163,42381,24.4,26.8,22.0,10.5,1.0,3.5,85.9,71.0,7,3
3,2004-07-04,57328,52470,36176,21.1,22.7,19.7,62.0,4.5,7.9,92.1,85.0,7,4
4,2004-07-05,57328,53796,43834,22.8,26.2,19.5,14.0,3.8,6.4,80.5,62.0,7,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,2023-04-01,139049,81707,59002,17.5,25.6,9.4,0.0,1.8,4.5,40.4,19.0,4,1
6817,2023-04-02,139049,85228,58205,18.8,25.2,11.9,0.0,2.4,5.9,29.6,16.0,4,2
6818,2023-04-03,139049,84289,67649,19.0,25.9,11.3,0.0,2.3,4.3,29.4,16.0,4,3
6819,2023-04-04,139049,84938,68535,17.6,21.7,12.7,6.9,2.6,6.1,40.4,16.0,4,4
6820,2023-04-05,139079,84179,72292,11.9,14.9,8.7,50.3,3.4,5.8,97.8,90.0,4,5

In [ ]:
# month 정보를 이용해 season 컬럼 추가
season = {12 : 'Winter', 1 : 'Winter', 2 : 'Winter', 
          3 : 'Spring', 4 : 'Spring', 5 : 'Spring',
          6 : 'Summer', 7 : 'Summer', 8 : 'Summer', 
          9 : 'Autumn', 10 : 'Autumn', 11 : 'Autumn'}
df['season'] = df[['month']].apply(lambda x : x.map(season))

# 확인
df.head()

,date,installed_capacity,supply_capacity,full_power,average_temperature,highest_temperature,lowest_temperature,precipitation,average_wind_speed,max_wind_speed,average_humidity,lowest_humidity,month,day,season
0,2004-07-01,57328,52398,44998,24.0,26.7,22.0,4.5,1.9,4.2,77.0,61.0,7,1,Summer
1,2004-07-02,57328,52412,44135,23.1,24.2,21.3,10.5,1.9,5.1,90.8,83.0,7,2,Summer
2,2004-07-03,57328,51163,42381,24.4,26.8,22.0,10.5,1.0,3.5,85.9,71.0,7,3,Summer
3,2004-07-04,57328,52470,36176,21.1,22.7,19.7,62.0,4.5,7.9,92.1,85.0,7,4,Summer
4,2004-07-05,57328,53796,43834,22.8,26.2,19.5,14.0,3.8,6.4,80.5,62.0,7,5,Summer

In [ ]:
# date 컬럼 제거
df.drop('date', axis=1, inplace = True)

# 컬럼 순서 정리
df = df[['season', 'month', 'day', 'installed_capacity', 'supply_capacity', 
         'full_power','average_temperature', 'highest_temperature', 
         'lowest_temperature','precipitation', 'average_wind_speed', 
         'max_wind_speed', 'average_humidity', 'lowest_humidity']]

# 확인
df

,season,month,day,installed_capacity,supply_capacity,full_power,average_temperature,highest_temperature,lowest_temperature,precipitation,average_wind_speed,max_wind_speed,average_humidity,lowest_humidity
0,Summer,7,1,57328,52398,44998,24.0,26.7,22.0,4.5,1.9,4.2,77.0,61.0
1,Summer,7,2,57328,52412,44135,23.1,24.2,21.3,10.5,1.9,5.1,90.8,83.0
2,Summer,7,3,57328,51163,42381,24.4,26.8,22.0,10.5,1.0,3.5,85.9,71.0
3,Summer,7,4,57328,52470,36176,21.1,22.7,19.7,62.0,4.5,7.9,92.1,85.0
4,Summer,7,5,57328,53796,43834,22.8,26.2,19.5,14.0,3.8,6.4,80.5,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,Spring,4,1,139049,81707,59002,17.5,25.6,9.4,0.0,1.8,4.5,40.4,19.0
6817,Spring,4,2,139049,85228,58205,18.8,25.2,11.9,0.0,2.4,5.9,29.6,16.0
6818,Spring,4,3,139049,84289,67649,19.0,25.9,11.3,0.0,2.3,4.3,29.4,16.0
6819,Spring,4,4,139049,84938,68535,17.6,21.7,12.7,6.9,2.6,6.1,40.4,16.0
6820,Spring,4,5,139079,84179,72292,11.9,14.9,8.7,50.3,3.4,5.8,97.8,90.0

In [ ]:
# 정리한 데이터 저장
df.to_csv('data.csv', index=False)